<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生管理界面</title>
	<style type="text/css">
		td{
			width:100px;
			height:20px;
			text-align:center;
		}	
	</style>
</head>
<body>
	<h1>学生管理 添加学生界面</h1>

	<a href="/">所有学生</a>
	<a href="/add">添加学生</a>

	<p>学号</p>
	<input type="text" />

	<p>姓名</p>
	<input type="text" />

	<p>年龄</p>
	<input type="text" />

	<p>性别</p>
	<label><input type="radio"  name="sex" value="男"/>男</label>
	<label><input type="radio"  name="sex" value="女"/>女</label>

	<input type="button" value="提交" />
		
</body>
</html>